/*@media only screen and (max-width: 500px) {
    .shoptime {
        font-size: 3em;
    }
}*/
.pageheader, .logo, .shoptime, .reset, #additionalitem {
	/*border: red solid 1px;*/
	text-align: center;
	color: black;
}

#shoppinglistsection > p {
	text-align: center;
	color: white;
	font-size: 1.5rem;
	font-family: 'Share', cursive;

}
.logo {
	/*order: 2px solid white;*/
	color: #00CC66;
}

#shoppinglistsection {
	margin: 0 auto;
}
input {
	/*border: red solid 1px;*/
	color: black;
	width: 18rem; 
	height: 2.5rem;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	font-family: 'Share', cursive;
	font-size: 1.15rem;
	display: block;
}

button {
	width: 18rem;
	vertical-align: middle;
	margin:0 auto;
	font-family: 'Share', cursive;
	display: block;
}
input #button1 {
	display: inline-block;
}
.shoptime {
	font-size: 4rem;
	font-family: 'Share', cursive;
	font-style: italic;
	color: white;
}


/*.logo {insert <i class="fa fa-shopping-cart"></i>*/


body {
	background-color: #292933;
}
.list > p {
	width: 18rem; 
	margin-left: auto;
	margin-right: auto;
	color:white;
	display: block;
	padding: 0rem;
	margin-top: .2rem;
	margin-bottom: .2rem;
	padding-left: -1px;
	font-family: 'Share', cursive;
	font-size: 1.8rem;
	background-color: #00CC66;
	border: 3px solid #009900;
	border-radius: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-align: left;
	text-indent: 2px;
	text-transform: uppercase;
	font-style: italic;
	cursor: pointer;
}


.list > .clicked {
	text-decoration: line-through;
	background-color: #435E43;
	opacity: 45%;
}
/*.item1, .item2 {
	background-color: #00FF99;
}

.item3, .item4 {
	background-color: #FF6666;
}

.item5 {
	background-color: #FF3300;
}